@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  height: auto;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
  background-image: url('./background.jpg');
}

main{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main h1{
  width: 100%;
  text-align: center;
}

main figure{
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

main figure img{
  max-width: 100%;
}

.buttons{
  width: 200px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.congrats{
padding: 20px;
  background-image: url('./parabens.gif');
  background-size: cover;
  background-repeat: repeat;
}

